@mixin container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
}

@mixin button {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

@mixin form-control {
  margin: 20px 0;

  label {
    display: block;
  }

  input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
}

@mixin form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    flex: 1;
  }

  input {
    flex: 2;
    height: 20px;
  }
}
