@import "../../../globals/colors.scss";
@import "../../../globals/mixins.scss";

.headers-container {
  @include container;
  background-color: $primary;
  color: $primaryWhite;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 12px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}
